@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.AlgorithmType {
    font-size: 24px;
    text-decoration: underline;
}

.JavaScript {
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#SFSU {
    background-color: #231161;
    font-weight: bold;
    color: #C99700;
}